h1 {
    color: blue;
    font-size: 32px;
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    border: 2px solid;
    border-radius: 20px;
    border-color: blue;
    align-items: center;
    margin: auto;
    justify-content: space-around;
    background-color: lightgreen;
    padding: 20px;
}

.button {
    width: 200px;
    height: 40px;
    font-size: 18px;
    background-color: cyan;
    border-radius: 10px;
    border-color: blue;
    margin-top: 10px;
}

#score {
    margin-top: 20px;
}

body {
    text-align: center;
    margin: auto;
}

#score p {
    font-size: 15px;
}

#score button {
    margin-top: 20px;
    background-color: darkorange;
    color: lightgray;
    border-radius: 10px;
    font-size: 15px;
    padding: 10px;
}
